<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet Awesomizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        h2{
        color:black;
        padding: 5px;
        background-color:rgba(255, 204, 255, 0.5);
        border-radius:8px;
        }
        p{
        color:black;
        font-size: 20px;
        }
        h1{
        padding-top:5px;
        padding-bottom:5px;
        color:black;
        }



    </style>
</head>
<body style="background:#9999ff">


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:action="@{/petawesomizer/search}" action="/"
                   method="post" th:object="${formCommand}" class="form-horizontal center-block">
                <h1>Find Adoptable Pets in Your Area!</h1>
                <div class="form-group" >
                    <div class="col-sm-9">
                        <label id="location" >Location:</label>
                        <input type="text" th:field="*{locationField}" placeholder="zipcode or state"
                               class="form-control" />
                    </div>
                </div>

              <div class="form-group">
                    <div class="col-sm-9">
                        <label id="animal" >Animal</label>
                        <select name="animal"  th:field="*{animalValue}">
                            <option value="" >All</option>
                            <option  name="cat" value="cat" > Cat</option>
                            <option name="dog" value="dog" > Dog</option>>
                            <option  name="rabbit" value="rabbit" > Rabbit</option>>
                            <option  name="smallfurry" value="smallfurry" >Small Mammals</option>>
                            <option  name="bird" value="bird" > Bird</option>>
                            <option name="reptile" value="reptile" > Reptile</option>>
                            <option name="horse" value="horse" > Horse</option>>
                            <option name="barnyard" value="barnyard" > Farm Animals</option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">I'm Ready for Some Awesome Animals!!!</button>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <form style="padding-top:10px" th:action="@{/petawesomizer/random}">
                            <button class="btn btn-md btn-warning btn-block" type="submit">Show Me a Random Pet!
                            </button>
                        </form>
                    </div>

                </div>




            </form>
        </div>
    </div>
</div>


</body>
</html>