<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet Awesomizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        h2{
        color:black;
        padding: 5px;
        background-color:rgba(255, 204, 255, 0.5);
        border-radius:8px;
        }
        p{
        color:black;
        font-size: 20px;
        }
        h1{
        padding-top:5px;
        padding-bottom:5px;
        color:black;
        }



    </style>
</head>
<body>
<form style="padding-top:10px" th:action="@{/petawesomizer/random}" method="get">
    <button class="btn btn-md btn-warning" type="submit" style="color:navy">Show Me a Random Pet!
    </button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:action="@{/search}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Find the Adoptable Pets in Your Area!</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="" ></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Last Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">I'm Ready for Some Awesome Animals!!!</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

</body>
</html>