<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random Pet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        h2{
        color:black;
        padding: 5px;
        background-color:rgba(255, 204, 255, 0.5);
        border-radius:3px;
        }
        p{
        color:black;
        font-size: 20px;
        }
        h2{
        padding-top:5px;
        padding-bottom:5px;
        }



    </style>
</head>
<body style="background:#9999ff">
<div class="container-fluid">
    <h2 id="fact" th:utext="${petFact}" class="text-center"></h2>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6" id="main">

            <img class="img-responsive center-block" height="50%" id="petIMG" th:src="${petPhoto}"/>

        </div>
        <div>

            <div class="col-sm-5 center-block" style="padding:40px">


                <p id="animal" th:text="${animal}"></p>
                <p id="sex" th:text="${sex}"></p>
                <p id="age" th:text="${age}"></p>
                <p id="location" th:text="${location}"></p>
                <p id="email" th:text="${email}" ></p>
                <h1 id="petName" th:text="${petName}"></h1>
                <form style="padding-top:10px" th:action="@{/petawesomizer/random}" method="get">
                    <button class="btn btn-md btn-warning" type="submit" style="color:navy">New Random Pet
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

</div>


</body>
</html>