<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Awesomizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/maincss.css}" type="text/css" rel="stylesheet" />


</head>
<body>
<div class="container-fluid">
    <h2 id="fact" th:utext="${petFact}" class="text-center"></h2>

    <div class="row">

        <div class="col-sm-7" id="main">

            <img class="img-responsive center-block" class="petIMG" th:src="${petPhoto}"/>

        </div>
        <div>

            <div class="col-sm-5 center-block" >

                <h1 id="petName" th:text="${petName}"></h1>
                <p id="animal" th:text="${animal}" ></p>
                <p id="sex" th:text="${sex}"></p>
                <p id="age" th:text="${age}"></p>
                <p id="location" th:text="${location}"></p>
                <p id="email" th:text="${email}"  ></p>

                <form id="#randombtn" th:action="@{/petawesomizer/random}" method="get">
                    <button class="btn btnclass" type="submit" >New Random Pet
                    </button>
                </form>
                <form id="randomsearch"  th:action="@{/petawesomizer/}" action="/"
                      method="get" >
                    <button class="btn btnclass randomform" id="randomsearchbtn" type="submit" >Search Pets in Your Area
                    </button>
                </form>
                <form th:action="@{/petawesomizer/report}" action="/"
                      method="post" th:object="${petSimplified}">

                    <button id="randomreport" class="btn btnclass randomform" type="submit">Report Inappropriate Content
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>




</body>
</html>