<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Awesomizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/maincss.css}" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body >
<h1 class="title text-center" id="searchtitle">Awesome <span th:text="${animal}"></span> available for adoption near <span
        th:text="${location}"></span>! </h1>
<div class="container-fluid">
    <div class="row" th:block th:each="p : ${pets}">

    <h2 id="fact" th:utext="${p.description}" class="text-center"></h2>



        <div class="col-sm-7" id="main">

            <img class="img-responsive center-block" class="petIMG" th:src="${p.photo}"/>

        </div>

        <div>

            <div id="petinfo" class="col-sm-5 center-block" >

                <h1 id="petName" th:text="${p.name}"></h1>
                <p id="animal" th:text="${p.animal}" ></p>
                <p id="sex" th:text="${p.sex}"></p>
                <p id="age" th:text="${p.age}"></p>
                <p id="location" th:text="${p.location}">Location:</p>
                <p id="email" th:text="${p.email}" ></p>


            </div>

        </div>
        <form th:action="@{/petawesomizer/}" action="/"
              method="get">
            <button id="back" class="btn btnclass" type="submit">Back to Search
            </button>
        </form>
    </div >

    </th:block>

</div>



</body>
</html>